NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

HOST=HOST_DO_BANCO
PORT=PORTA_DO_BANCO
DATABASE=postgres
USER=USER_DO_BANCO

DATABASE_URL=URL_DO_BANCO_HOSPEDADO

JWT_SECRET=CHAVE_SECRETA
INTERNAL_API_SECRET=CHAVE_SECRETA_INTERNA
CRON_SECRET=CRON_SECRETO

RESEND_API_KEY=CHAVE_API_RESEND
EMAIL_FROM="NOME <noreply@seu.dominio>"