NODE_ENV=development

HOST=HOST_DO_BANCO
PORT=PORTA_DO_BANCO
DATABASE=postgres
USER=USER_DO_BANCO

DATABASE_URL=URL_DO_BANCO_HOSPEDADO

JWT_SECRET=CHAVE_SECRETA

INTERNAL_API_SECRET=CHAVE_SECRETA_INTERNA